@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;   
    background-color: var(--color-primary-03); 
}

:root {
    --color-primary-01: #006771;
    --color-primary-02: #003A41;
    --color-primary-03: #111110;

    --color-secondary-01: #04e9ff;
    --color-secondary-02: #0FA3B1;

    --color-tertiary-01: #00ADEF;
    
    --color-neutral-01: #FFFFFF;
    --color-neutral-02: #000000;
    --color-neutral-03: #2F3A41;
    --color-neutral-04: #d9d9d9;
    --color-neutral-opacity: rgba(17, 17, 16, 0.95);

    --font: 'Inter';
    --headline-1: 64px;
    --headline-2: 48px;
    --headline-3: 40px;
    --headline-4: 33px;
    --headline-5: 28px;

   --headlines-weight: 700;

   --body-big:24px;
   --body-normal: 20px;
   --body-medium: 16px;


   --button-normal:18px;
   --button-small: 15px;

   --caption-normal: 12px;
   --caption-medium:14px;
   --caption-small: 10px;


}
